.App {
  text-align: center;
}

@font-face {
  font-family: Simple;
  src: url(./fonts/simple_thread/simpleThread.otf);
  font-display: fallback;
}

@font-face {
  font-family: Gotham;
  src: url(./fonts/Gotham-Light.otf);
  font-display: fallback;
}

#header-title{
  font-family: Simple;
  color: #a0914ee9;
  letter-spacing: 3px;
}

#head-img{
  background-image: url('./cloud.jpeg');
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white h1{
  color: #3b4a69;
}

h1{
  font-size: 2rem;
  letter-spacing: 2px;
}

*{
  box-sizing: border-box;
  font-family: Gotham ;
}

html{
  scroll-behavior: smooth;
}

nav{
  height: 75px;
  width: 100vw;
  background-color: rgba(59, 74, 105, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

#about *{
  color: #1e1e1e;
}

#nav-logo{
  
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  max-width: 70vw;
  border-radius: 3px;
}

a{
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0 0.7rem;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#cloud{
  width: 100vw;
  height: 80vh;
  object-position: center;
  object-fit: cover;
}

.divider{
  height: 7px;
  background-color: #a99c65;
  margin: 0;

}

.img{
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  max-width: 100vw;

}

.flexwrap-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


main{
  min-height: 100vh;
}

.blue{
  background-color: #3b4a69;
  padding: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.txt{
  width: 800px;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: left;
}

.white h1, .blue h1{
font-size: 1.1rem;
font-weight: bold;
text-transform: uppercase;
}

.social-icon{
  height: 30px;
  margin: 0 0.5rem;
}
td{
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
}

th{
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 10px;

}

footer{
  height: 150px;
  background-color: #3b4a69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

#bookings{
  
}